//Primary colors

$primary-blue: hsl(233, 26%, 24%);
$primary-green: hsl(233, 26%, 24%);
$primary-cyan: hsl(233, 26%, 24%);

//Secondary colors
$secondary-blue: hsl(233, 8%, 62%);
$secondary-light-blue: hsl(220, 16%, 96%);
$secondary-light-gray: hsl(0, 0%, 98%);
$secondary-white: hsl(0, 0%, 100%);
